#### Logistic Regression

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

df = pd.read_csv('fraud_dataset.csv')
df.head()

   transaction_id   duration      day  fraud
0           28891  21.302600  weekend  False
1           61629  22.932765  weekend  False
2           53707  32.694992  weekday  False
3           47812  32.784252  weekend  False
4           43455  17.756828  weekend  False

In [2]:
df.describe()

       transaction_id     duration
count     8793.000000  8793.000000
mean     55243.384510    29.704626
std      21792.120147     7.464452
min      17301.000000     0.215113
25%      36454.000000    25.211787
50%      55420.000000    29.923160
75%      74131.000000    34.532567
max      92828.000000    60.412763

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8793 entries, 0 to 8792
Data columns (total 4 columns):
transaction_id    8793 non-null int64
duration          8793 non-null float64
day               8793 non-null object
fraud             8793 non-null bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 214.8+ KB

In [4]:

# convert fraud and no fraud to 1 and 0
df[['no_fraud', 'fraud' ]]=pd.get_dummies(df['fraud'])
df.head()

   transaction_id   duration      day  fraud  no_fraud
0           28891  21.302600  weekend      0         1
1           61629  22.932765  weekend      0         1
2           53707  32.694992  weekday      0         1
3           47812  32.784252  weekend      0         1
4           43455  17.756828  weekend      0         1

In [5]:
# we could drop the last variable which is no fraud since we will be using the intercept
# row axis = 0; column axis = 1
df = df.drop('no_fraud', axis = 1)
df.head()

SyntaxError: invalid syntax (<ipython-input-5-a9d74017e87a>, line 3)