In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
df = pd.read_csv('house_price_area_only.csv')
df.head()

     price  area
0   598291  1188
1  1744259  3512
2   571669  1134
3   493675  1940
4  1101539  2208

In [3]:
df['intercept'] = 1

lm = sm.OLS(df['price'], df[['intercept', 'area']])
results = lm.fit()
results.summary()

# y = mx + b # y = b1x + b0
# m = slope = area = 348.4664
# b = intercept = 9587.8878 i.e the value of y when x = 0

# y = 9588 + 348x i.e for every 1 unit increase(thats x + 1) the value of y = 9588 + 348(+ 348) 
# pvalue is read from the area more

# R-squared explains the percentage variability in price explained by area

# n.b R is the correlation co-efficient while the coefficient of determination is R-squared which explains the percentage of variability

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.678
Model:                            OLS   Adj. R-squared:                  0.678
Method:                 Least Squares   F-statistic:                 1.269e+04
Date:                Wed, 24 Apr 2019   Prob (F-statistic):               0.00
Time:                        18:46:17   Log-Likelihood:                -84517.
No. Observations:                6028   AIC:                         1.690e+05
Df Residuals:                    6026   BIC:                         1.691e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
intercept   9587.8878   7637.479      1.255      0.209   -5384.303    2.46e+04
area         348.4664      3.093    112.662      0.000     342.403     354.530
==============================================================================
Omnibus:                      368.609   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              349.279
Skew:                           0.534   Prob(JB):                     1.43e-76
Kurtosis:                       2.499   Cond. No.                     4.93e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.93e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [5]:
df2 = pd.read_csv('house_prices.csv')
df2.head()

   house_id neighborhood  area  bedrooms  bathrooms      style    price
0      1112            B  1188         3          2      ranch   598291
1       491            B  3512         5          3  victorian  1744259
2      5952            B  1134         3          2      ranch   571669
3      3525            A  1940         4          2      ranch   493675
4      5108            B  2208         6          4  victorian  1101539

In [13]:
df2['intercept'] = 1

# n.b dependent variable comes first in the sm.OLS & lm = linear model
lm = sm.OLS(df2['price'], df2[['intercept', 'bathrooms', 'bedrooms', 'area']])
results = lm.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.678
Model:                            OLS   Adj. R-squared:                  0.678
Method:                 Least Squares   F-statistic:                     4230.
Date:                Thu, 25 Apr 2019   Prob (F-statistic):               0.00
Time:                        12:32:49   Log-Likelihood:                -84517.
No. Observations:                6028   AIC:                         1.690e+05
Df Residuals:                    6024   BIC:                         1.691e+05
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
intercept   1.007e+04   1.04e+04      0.972      0.331   -1.02e+04    3.04e+04
bathrooms   7345.3917   1.43e+04      0.515      0.607   -2.06e+04    3.53e+04
bedrooms   -2925.8063   1.03e+04     -0.285      0.775    -2.3e+04    1.72e+04
area         345.9110      7.227     47.863      0.000     331.743     360.079
==============================================================================
Omnibus:                      367.658   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              350.116
Skew:                           0.536   Prob(JB):                     9.40e-77
Kurtosis:                       2.503   Cond. No.                     1.16e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.16e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [14]:
X = df2[['intercept', 'bathrooms', 'bedrooms', 'area']]
y = df2['price']


# we can find the optimal b estimates by calculating (XiX)-1Xiy
# where Xi is transposed X and we use np.dot to multiply and linalg.inv to invert to -1
np.dot(np.dot(np.linalg.inv(np.dot(X.T, X)), X.T), y)

array([10072.10704671,  7345.3917137 , -2925.80632467,   345.91101884])

In [47]:
# adding dummy variables to a linear model i.e converting the categorical variables to be numeric
neighbourhood_dummies = pd.get_dummies(df2['neighborhood'])

In [48]:
neighbourhood_dummies

      A  B  C
0     0  1  0
1     0  1  0
2     0  1  0
3     1  0  0
4     0  1  0
5     0  0  1
6     0  1  0
7     0  0  1
8     1  0  0
9     1  0  0
10    1  0  0
11    1  0  0
12    1  0  0
13    0  1  0
14    1  0  0
15    1  0  0
16    0  0  1
17    1  0  0
18    1  0  0
19    0  1  0
20    0  0  1
21    0  1  0
22    0  1  0
23    0  0  1
24    0  1  0
25    0  1  0
26    0  0  1
27    1  0  0
28    0  1  0
29    1  0  0
...  .. .. ..
5998  0  1  0
5999  0  0  1
6000  1  0  0
6001  0  0  1
6002  0  1  0
6003  1  0  0
6004  0  1  0
6005  0  0  1
6006  0  1  0
6007  1  0  0
6008  0  0  1
6009  1  0  0
6010  0  1  0
6011  1  0  0
6012  0  0  1
6013  0  0  1
6014  0  0  1
6015  0  0  1
6016  1  0  0
6017  0  0  1
6018  0  1  0
6019  1  0  0
6020  1  0  0
6021  0  0  1
6022  0  0  1
6023  0  1  0
6024  0  0  1
6025  0  1  0
6026  0  0  1
6027  0  0  1

[6028 rows x 3 columns]

In [64]:
df2.drop(columns = ['df_new'])

,house_id,neighborhood,area,bedrooms,bathrooms,style,price,intercept,A,B,C,lodge,ranch,victorian
0,1112,B,1188,3,2,ranch,598291,1,0,1,0,0,1,0
1,491,B,3512,5,3,victorian,1744259,1,0,1,0,0,0,1
2,5952,B,1134,3,2,ranch,571669,1,0,1,0,0,1,0
3,3525,A,1940,4,2,ranch,493675,1,1,0,0,0,1,0
4,5108,B,2208,6,4,victorian,1101539,1,0,1,0,0,0,1
5,7507,C,1785,4,2,lodge,455235,1,0,0,1,1,0,0
6,4964,B,2996,5,3,victorian,1489871,1,0,1,0,0,0,1
7,7627,C,3263,5,3,victorian,821931,1,0,0,1,0,0,1
8,6571,A,1159,3,2,ranch,299903,1,1,0,0,0,1,0
9,5220,A,1248,3,2,victorian,321975,1,1,0,0,0,0,1
10,3223,A,3432,6,4,victorian,863995,1,1,0,0,0,0,1
11,1540,A,3853,5,3,victorian,968251,1,1,0,0,0,0,1
12,2795,A,2275,4,2,ranch,576755,1,1,0,0,0,1,0
13,3691,B,698,0,0,lodge,356333,1,0,1,0,1,0,0
14,3460,A,260,1,0,lodge,76647,1,1,0,0,1,0,0
15,7485,A,1472,2,1,victorian,377375,1,1,0,0,0,0,1
16,1782,C,4380,6,4,victorian,1099099,1,0,0,1,0,0,1
17,699,A,1956,4,2,victorian,497643,1,1,0,0,0,0,1
18,4245,A,3318,5,3,victorian,835571,1,1,0,0,0,0,1
19,6510,B,40,1,0,lodge,32023,1,0,1,0,1,0,0
20,7128,C,2901,5,3,victorian,732155,1,0,0,1,0,0,1
21,4596,B,2017,4,2,victorian,1007072,1,0,1,0,0,0,1
22,583,B,4456,7,4,victorian,2209887,1,0,1,0,0,0,1
23,3153,C,1150,3,2,ranch,297671,1,0,0,1,0,1,0
24,5378,B,2735,6,4,victorian,1361350,1,0,1,0,0,0,1
25,6265,B,1174,3,2,ranch,591389,1,0,1,0,0,1,0
26,7595,C,1566,4,2,victorian,400923,1,0,0,1,0,0,1
27,2333,A,4203,5,3,victorian,1055051,1,1,0,0,0,0,1
28,7908,B,3335,5,3,victorian,1656998,1,0,1,0,0,0,1
29,6768,A,1307,3,2,lodge,336607,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5998,3767,B,3668,6,4,victorian,1821319,1,0,1,0,0,0,1
5999,7811,C,1976,4,2,ranch,502603,1,0,0,1,0,1,0
6000,4424,A,1140,2,1,lodge,295039,1,1,0,0,1,0,0
6001,2363,C,1319,2,1,ranch,339431,1,0,0,1,0,1,0
6002,5128,B,2531,4,2,victorian,1260474,1,0,1,0,0,0,1
6003,4655,A,2294,4,2,ranch,581467,1,1,0,0,0,1,0
6004,5911,B,3580,6,4,victorian,1777935,1,0,1,0,0,0,1
6005,7533,C,3095,5,3,victorian,780267,1,0,0,1,0,0,1
6006,2472,B,3693,5,3,victorian,1833492,1,0,1,0,0,0,1
6007,6709,A,3108,5,3,victorian,783491,1,1,0,0,0,0,1
6008,6387,C,3609,6,4,victorian,907891,1,0,0,1,0,0,1
6009,2643,A,2000,4,2,ranch,508555,1,1,0,0,0,1,0
6010,6319,B,1011,2,1,lodge,510878,1,0,1,0,1,0,0
6011,5929,A,3579,5,3,victorian,900299,1,1,0,0,0,0,1
6012,2084,C,4014,7,4,victorian,1008415,1,0,0,1,0,0,1
6013,1649,C,3430,5,3,victorian,863347,1,0,0,1,0,0,1
6014,2223,C,1919,4,2,victorian,488467,1,0,0,1,0,0,1
6015,4440,C,3897,6,4,victorian,979315,1,0,0,1,0,0,1
6016,414,A,4366,6,4,victorian,1095627,1,1,0,0,0,0,1
6017,3091,C,1078,3,2,ranch,279815,1,0,0,1,0,1,0
6018,1072,B,6201,7,4,victorian,3070172,1,0,1,0,0,0,1
6019,4098,A,1274,3,2,ranch,328423,1,1,0,0,0,1,0
6020,3157,A,1281,2,1,ranch,330007,1,1,0,0,0,1,0
6021,4031,C,1659,4,2,victorian,423987,1,0,0,1,0,0,1
6022,7545,C,2963,5,3,victorian,747531,1,0,0,1,0,0,1
6023,4373,B,757,0,0,lodge,385420,1,0,1,0,1,0,0
6024,4422,C,3540,5,3,victorian,890627,1,0,0,1,0,0,1
6025,5894,B,1518,2,1,lodge,760829,1,0,1,0,1,0,0
6026,5591,C,2270,4,2,ranch,575515,1,0,0,1,0,1,0
6027,6211,C,3355,5,3,victorian,844747,1,0,0,1,0,0,1

In [28]:
df2['intercept'] = 1
lm = sm.OLS(df2['price'],df2[['intercept', 'lodge', 'ranch']] )
results = lm.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.339
Model:                            OLS   Adj. R-squared:                  0.339
Method:                 Least Squares   F-statistic:                     1548.
Date:                Thu, 25 Apr 2019   Prob (F-statistic):               0.00
Time:                        15:06:48   Log-Likelihood:                -86683.
No. Observations:                6028   AIC:                         1.734e+05
Df Residuals:                    6025   BIC:                         1.734e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
intercept   1.046e+06   7775.607    134.534      0.000    1.03e+06    1.06e+06
lodge      -7.411e+05   1.44e+04    -51.396      0.000   -7.69e+05   -7.13e+05
ranch       -4.71e+05   1.27e+04    -37.115      0.000   -4.96e+05   -4.46e+05
==============================================================================
Omnibus:                     1340.120   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3232.810
Skew:                           1.230   Prob(JB):                         0.00
Kurtosis:                       5.611   Cond. No.                         3.28
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

###### The interpretation above is as follows;
> if a house is victorian style(the one we dropped) then it is the intercept which is 1.046e+06 = 1,046,000 dollars
while a lodge is 741,100 dollars less and a ranch is 471,000 dollars less n.b the coef is a comparison to the baseline category which is the intercept which is the dropped value = victorian

### Use of Models
> 1. use of models to check how IVs are related to DVs
> 2. use of models to find best predictions
> 3. use of models to determine which IV best predicts the DV

### Problems in Multiple Linear Regression
> 1. A linear relationship does not exist
> 2. There are correlated errors
> 3. There is a non-constant variance
> 4. Outliers 
> 5. Multicollinearity - situation where one predictor variable is linearly predicted from other predictor variables with a substantial degree of accuracy such that the coefficient estimates of the mulriple regression will change erratically in response to small changes in the model. Thus multicollinearity affects calculations regarding such predictor variables ( collinearity from the word -co-linear)