#### Basic vector manipulation

In [112]:
import numpy as np
arr_a = [2,3,4,5,6]
arr_b = [7,8,9,10,11]

arr = np.array([arr_a,arr_b])

arr.shape #(2,5) i.e 2 rows and 5 columns

arr.reshape(5,2) #change to 5 rows and 2 columns

arr2 = np.arange(10, 50, 7) # start at 10 increment by 7 and do not exceed the number 50
arr2.ndim # get dimension of array such 1, 2 or 3 dimensional etc

arr3 = arr2.reshape(3,2) # n.b to reshape the parameters e.g 2,3 must multiply to be exact as total array values

# example of reshaping array
narr = np.arange(54)
narr.reshape(3,6,3)

# zeros and ones used for filling data
zero = np.zeros(10, dtype=int) # also np.zeros(10)- could be np.ones() 
zero.reshape(2,5)

# convert list to array to be able to use for vector operations & tuples can also be converted 
x = [1,2,3,4,5]
y = np.asarray(x)
y*y #[1,4,9,16,25]


# index and slice

arr_n = np.arange(24)
arr_n[3:-5:1] # start at 3 end at 5 but last eg 20 is 5th but last of 25

arr_m = arr_n.reshape(4,6)

arr_m
arr_m[...,2] # return only all rows on 3rd column & ... here = row, 2 = column & this puts values as single array
arr_m[3,...] # return only all columns on 4th row
arr_m[...,2:] # return all rows only on 3rd colum to last column
arr_m[2:,...] # return all columns on 3rd row to last row

# indexing multidimensional arrays
arr_o = np.arange(30)
arr_o.reshape(3,5,2)

arr_o[arr_o[arr_o > 12]] * arr_o[arr_o < 17] # take arrays greater than 12 and multiply by arrays less that 17 & note that both array index values must be same

from collections import Counter
cnt = Counter()
colors = ['red', 'blue', 'red', 'green', 'blue', 'red']
for word in colors:
    cnt[word] += 1
    print(cnt[word])
print(cnt)

array([  0,  14,  30,  48,  68,  90, 114, 140, 168, 198, 230, 264, 300,
       338, 378, 420, 464])

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib

coffee_full = pd.read_csv('coffee_red.csv')

# get a sample of coffee_full and label coffee_red(for reduced)
coffee_red = coffee_full.sample(200)
coffee_red.tail()

Using matplotlib backend: Qt5Agg

      user_id   age  drinks_coffee     height
2492     7690   <21          False  67.397965
2238     6832   <21          False  70.790166
2001     3447   <21          False  66.832329
1170     2236  >=21           True  68.254976
1116     6479   <21          False  68.685662

In [10]:
coffee_red.query(co)

0.54